name: C/C++ CI for the master

on:
  push:
    branches: [ ci-test ]
  pull_request:
    branches: [ ci-test ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: pg
    - run: echo "Deploying to production server on branch $GITHUB_REF"
      run: |
        git config --global user.email "ci@postgrespro.ru"
        git config --global user.name "CI PgPro admin"
        git clone https://github.com/postgres/postgres.git pg
        cd pg
        git checkout master
        ./configure --prefix=`pwd`/tmp_install
        git subtree add --prefix=contrib/aqo https://github.com/postgrespro/aqo.git $GITHUB_REF
        patch -p1 --no-backup-if-mismatch < contrib/aqo/aqo_master.patch
        make -j4 > /dev/null && make -j4 -C contrib > /dev/null
        make -C contrib/aqo check
